:root {
    --c-white: #fff;
    --c-dark-gray: #0e0e10;
    --c-graphite: #1e1e1e;
    --c-mid-gray: #18181b;
    --c-semi-gray: #2f2f35;
    --c-regular-gray: #5d5d61;
    --c-gray: #a6a6b1;
    --c-transparent-gray: rgba(83, 83, 95, 0.38);
    --c-semi-light-gray: #dbdbdb;
    --c-light-gray: #adadb8;
    --c-primary: #e00038;
    --c-pink: #ff8280;
    --c-red: #ff0000;

    --f-font: "Inter Variable";

    --s-font-h1: 2rem;
    --s-font-h2: 1.125rem;
    --s-font-h3: 1.125rem;
    --s-font-h4: 1.125rem;
    --s-font-p: 1rem;
    --s-font-small: 0.8125rem;
    --s-font-cta: 0.9375rem;
    --s-font-h1-mobile: 1rem;
    --s-font-h2-mobile: 1rem;
    --s-font-h3-mobile: 0.9375rem;
    --s-font-h4-mobile: 0.9375rem;
    --t-transition: 0.3s;
}
